In [95]:
import pandas as pd

In [96]:
data = pd.read_csv(r'C:\Users\Tahir Mehmood\Downloads\heart.csv')
data.shape

(918, 12)

In [97]:
data.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [98]:
data.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [99]:
mean_chl = data.Cholesterol.mean()
mean_chl

198.7995642701525

In [100]:
std_chl = data.Cholesterol.std()
std_chl

109.38414455220337

In [101]:
data['zscore'] = (data.Cholesterol-mean_chl)/std_chl
data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,zscore
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,0.824621
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,-0.171867
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,0.769768
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0.138964
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,-0.034736

In [102]:
data.zscore.max()

3.695237891968371

In [103]:
data.zscore.min()

-1.817444064530539

In [104]:
filtered_data = data[(data.zscore<3)&(data.zscore>-3)]
filtered_data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,zscore
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,0.824621
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,-0.171867
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,0.769768
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0.138964
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,-0.034736
...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1,0.596068
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1,-0.053020
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1,-0.619830
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1,0.340090
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0,-0.217578

In [105]:
upper_limit = mean_chl + 3*std_chl
lower_limit = mean_chl - 3*std_chl
upper_limit,lower_limit

(526.9519979267626, -129.35286938645763)

In [106]:
fdata = data[(data.Cholesterol < upper_limit) & (data.Cholesterol>lower_limit)]
fdata

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,zscore
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,0.824621
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,-0.171867
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,0.769768
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0.138964
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,-0.034736
...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1,0.596068
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1,-0.053020
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1,-0.619830
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1,0.340090
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0,-0.217578

In [107]:
y = ['Sex','ChestPainType','RestingECG','ExerciseAngina','ST_Slope']
from sklearn.preprocessing import LabelEncoder
lr = LabelEncoder()
for x in y:
    data[x,'_enc'] = lr.fit_transform(data[x])
data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,zscore,"(Sex, _enc)","(ChestPainType, _enc)","(RestingECG, _enc)","(ExerciseAngina, _enc)","(ST_Slope, _enc)"
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,0.824621,1,1,1,0,2
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,-0.171867,0,2,1,0,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,0.769768,1,1,2,0,2
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0.138964,0,0,1,1,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,-0.034736,1,2,1,0,2

In [108]:
f_data  = data.drop(data[['Sex','ChestPainType','RestingECG','ExerciseAngina','ST_Slope']], axis = 'columns')
f_data.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,zscore,"(Sex, _enc)","(ChestPainType, _enc)","(RestingECG, _enc)","(ExerciseAngina, _enc)","(ST_Slope, _enc)"
0,40,140,289,0,172,0.0,0,0.824621,1,1,1,0,2
1,49,160,180,0,156,1.0,1,-0.171867,0,2,1,0,1
2,37,130,283,0,98,0.0,0,0.769768,1,1,2,0,2
3,48,138,214,0,108,1.5,1,0.138964,0,0,1,1,1
4,54,150,195,0,122,0.0,0,-0.034736,1,2,1,0,2

In [109]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
y=f_data.drop(['HeartDisease'], axis='columns')
y.columns =y.columns.astype(str)

In [110]:
scaled_data=ss.fit_transform(y)
f_scale_data = pd.DataFrame(scaled_data, columns = y.columns)
f_scale_data.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,zscore,"('Sex', '_enc')","('ChestPainType', '_enc')","('RestingECG', '_enc')","('ExerciseAngina', '_enc')","('ST_Slope', '_enc')"
0,-1.433140,0.410909,0.825070,-0.551341,1.382928,-0.832432,0.825070,0.515952,0.229032,0.017255,-0.823556,1.052114
1,-0.478484,1.491752,-0.171961,-0.551341,0.754157,0.105664,-0.171961,-1.938163,1.275059,0.017255,-0.823556,-0.596078
2,-1.751359,-0.129513,0.770188,-0.551341,-1.525138,-0.832432,0.770188,0.515952,0.229032,1.601219,-0.823556,1.052114
3,-0.584556,0.302825,0.139040,-0.551341,-1.132156,0.574711,0.139040,-1.938163,-0.816995,0.017255,1.214246,-0.596078
4,0.051881,0.951331,-0.034755,-0.551341,-0.581981,-0.832432,-0.034755,0.515952,1.275059,0.017255,-0.823556,1.052114

In [111]:
final_data = f_scale_data
target = data['HeartDisease']

In [112]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(final_data, target,test_size=0.25, random_state=10)

In [113]:
len(x_train), len(x_test)

(688, 230)

In [114]:
from sklearn.svm import SVC
svm =SVC()
svm.fit(x_train, y_train)
svm.score(x_test, y_test)

0.8652173913043478

In [115]:
from sklearn.model_selection import cross_val_score
score = cross_val_score(SVC(), x_train, y_train, cv=5)
score

array([0.82608696, 0.86231884, 0.92753623, 0.86131387, 0.81751825])

In [116]:
score.mean()

0.8589548291547657

In [117]:
from sklearn.ensemble import BaggingClassifier
bag_model = BaggingClassifier(
        estimator =SVC(),
        n_estimators=100,
        max_samples=0.8,
        oob_score=True,
        random_state=0
)
bag_model.fit(x_train, y_train)
bag_model.score(x_test, y_test)

0.8652173913043478

As you can see there is no as such differece in SVM and bagged score.Now lets try Decision Tree Classifier.

In [118]:
from sklearn.tree import DecisionTreeClassifier
dtc= DecisionTreeClassifier(max_depth =3)
dtc.fit(x_train, y_train)
dtc.score(x_test, y_test)

0.8260869565217391

In [119]:
score_dtc = cross_val_score(DecisionTreeClassifier(random_state=0), x_train, y_train, cv=5)
score

array([0.82608696, 0.86231884, 0.92753623, 0.86131387, 0.81751825])

In [120]:
score.mean()

0.8589548291547657

In [121]:
bag_model_dtc = BaggingClassifier(
        estimator =DecisionTreeClassifier(),
        n_estimators=100,
        max_samples=0.8,
        oob_score=True,
        random_state=0
)
bag_model_dtc.fit(x_train, y_train)
bag_model_dtc.score(x_test, y_test)

0.8565217391304348

In [122]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(x_train, y_train)
rfc.score(x_test, y_test)

0.8608695652173913

In [123]:
score_rfc = cross_val_score(RandomForestClassifier(), x_test, y_test, cv=5)
score.mean()

0.8589548291547657

In [124]:
bag_model_rfc = BaggingClassifier(
        estimator =RandomForestClassifier(),
        n_estimators=100,
        max_samples=0.8,
        oob_score=True,
        random_state=0
)
bag_model_rfc.fit(x_train, y_train)
bag_model_rfc.score(x_test, y_test)

0.8869565217391304